/*********************************************
                  ABOUT
*********************************************/

.thumb {
    margin-bottom: 30px;
}

.grid-item { 
    width: 300px;
    margin: 0 auto 20px auto;
    padding: 20px;

}
.grid-item--width2 { width: 400px; }

.carimages{
    
    margin: 0 auto;
    
}