$title_color: #fff;
$title_color2: #283433;
$text_color: #fff;
$text_color2: #000;
$menu_color: #fffeff;

$background_color_main_container: #fffeff;
$background_color_what_we_do: rgba(98,101,103, 1);
$background_color_instagram: rgba(249,231,159, 1);
$background_color_poll_container: rgba(191,201,202, 1);
$background_color_poll: rgba(162,217,206, 1);
$background_color_poll_meters: rgba(247,220,111, 1);
$background_color_poll_vote: rgba(204,209,209, 1);
$background_color_body: #eeecee;
$background_color_menu: linear-gradient(to bottom, #0066ff 0%, #003380 100%);
$background_color_footer: linear-gradient(to bottom, #003380 0%, #0066ff 100%);

$background_color_button: linear-gradient(to bottom, #ff9900 0%, #ffad33 100%);

$background_color_h1: linear-gradient(to bottom, #ff3399 0%, #ff66b3 100%);
$background_color_nav: linear-gradient(to bottom, rgba(115,199,82, 0.1) 0%, rgba(64,213,6, 0.1) 100%);
$background_color_nav2: linear-gradient(to bottom, #ff4200 0%, #ec4d07 100%);
$background_color_nav3: rgba(115,199,82, 0.5);
$background_color_nav3: rgba(23,32,42, 0.6);

$hover_color: #c0075c;

$search_box_background: #6e1e44;
$search_box_text: #fff;

$footer_links: #f25d3c;